<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/index.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/logo.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

            <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
                    crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                    crossorigin="anonymous"></script>
            <script src="js/index.js"></script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBceaaLI0ce4lQqdVTNRxe6xsqH1ymPkDw&callback=initMap"></script>
            <script src="js/map.js"></script>

    </body>
            <script src="js/smoothScrolling.js"></script>
            <script src="js/overlay.js"></script>
            <script src="https://use.fontawesome.com/502a724b48.js"></script>{% endblock %}
    </body>
</html>
